<div class="header">
  <%= link_to('Log In', new_user_session_path, method: :new, class: 'active') %>
</div>

<div class="main">
  <p>Society of Software Engineers </p>
  <div class="container">
    <div class="nav">
      <a href="item1">Item 1 </a>
      <a href="item2">Item 2 </a>
      <a href="item3">Item 3 </a>
      <a href="item4">Item 4 </a>
      <a href="item4">Item 5 </a>
      <a href="item4">Item 6 </a>
    </div>
    <div class="container-main">
      <div class="join-container">
        <div class="join">
          <p> Are you a member?</p>
          <br>
          <p> Join Society of Software Engineers Today!</p>
          <button class="button">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="footer">
    <h3>Contact</h3>
  </div>
</div>
