<div class="header">
  <span>Welcome, <%= current_user.first_name %>! <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'active') %></span>
</div>

<div class="main">
  <p>Society of Software Engineers </p>
  <div class="container">
    <div class="nav">
      <div class="dropdown">
        <p class="dropbtn">Future Software Engineers</p>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">Professional Development</div>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">Standards and Resources</div>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <div class="dropdown">
        <div class="dropbtn">About SoSE</div>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>

    <div class="container-main">
      <div class="join-container">
        <div class="join">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="footer">
    <h3>Contact</h3>
  </div>
</div>







<!--<span>Welcome back, <%= current_user.email %>!</span>-->



<!--<div> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </div>-->
