---
development: &default
  adapter: postgresql
  encoding: unicode
  database: sesoc_development
  pool: 5
  username: postgres
  password:
  host: localhost # running app and tests from the host
  # host: db # running all in services

test:
  <<: *default
  database: sesoc_test

production:
  <<: *default
  database: sesoc_production
